<div id="chat_window" class="round">
	
	<div id="chat_content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a nunc cursus neque consequat interdum a
		 ut diam. Vivamus ultrices orci sed lectus tincidunt imperdiet. Cras sagittis pretium consectetur. Etiam
		 sem sapien, suscipit non lobortis id, eleifend eget quam. Vivamus nec magna vel velit pharetra ultricies sed vitae
		 quam. Etiam id sem sit amet lorem bibendum malesuada eget id leo. Aenean vitae nibh sed leo accumsan consectetur.
		 Cras ligula lectus, varius suscipit sagittis quis, feugiat non nunc. Donec commodo aliquet lectus, sed
		 consectetur dolor ullamcorper convallis. Nullam volutpat laoreet nulla, in ultrices nulla dapibus a. 
		Duis rutrum vestibulum pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
		 mus. Nam imperdiet pretium magna eget pharetra. Sed mauris diam, mattis quis viverra id, placerat at augue.</p>
	</div>
</div>