<div id="chat_window" class="round">

<!--
	<form action="/messages" method="POST">
 	  <label for="message">Enter chat message here:</label>
      <input type="text" name="message">
      <input type="submit" value="Send!">
    </form>
-->



<% form_remote_tag(:url => { :controller => 'chat', :action => :add_line } ) do -%>
  Name: <%= text_field_tag( 'name','', { :size => 20, :id => 'name', :class => "input"} ) %>
  Message: <%= text_field_tag( 'entry','', { :size => 70, :id => 'entry', :class => "input"} ) %>
  <%= submit_tag "Say Something", :class => "common_button" %>
<% end -%>



    <ol id="message_list"></ol>


</div>