<h2>Leaving the Chat application will sign you out.</h2>
<div id="chat_window" class="round">

<script>
	$(document).ready(function(){
		
		$('#submit_btn').click(function(){
			$('#message_form').ajaxSubmit({
				success: function(data){
				}
			});
			return false;
		});
	});
</script>

<form method="POST" id="message_form" name="message_form" action="/chats/push_message">
  <label for="msg">Type a message:</label>
  <input type="text" name="msg">
  <input type="hidden" name="email" value="<%= current_user.email %>">
  <input type="submit" name="submit" id="submit_btn" value="submit"> 
</form>


    <ul id="message_list"></ul>


</div>