<!DOCTYPE html>

<html>
  <head>
    <title>Gumflap</title>
    <script src="http://js.pusherapp.com/1.6/pusher.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

    <script type="text/javascript">
      var pusher   = new Pusher("<%= Pusher.key %>")
      var messages = pusher.subscribe("messages")

      messages.bind("message", function(message) {
          $("<li>").html(message).prependTo($("#messages"))
      })
    </script>
  </head>

  <body>
    <h1>Gumflap</h1>

    <form action="/messages" method="POST">
      <label for="message">Flap yer gums:</label>
      <input type="text" name="message">
      <input type="submit" value="Flap!">
    </form>

    <ol id="messages"></ol>
  </body>
</html>
